<!DOCTYPE html>
<html>
    <head lang="de">
        <title>{{meta.title}}</title>

        <meta name="description" content="{{meta.description}}"/>
        <meta name="keywords" content="{{meta.keywords}}"/>
        <meta name="robots" content="{{meta.robots}}"/>
        <meta name="language" content="de"/>

        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


        <script src="{{baseUrl}}/scripts/vendor/requirejs/require.js"></script>
        <script src="{{baseUrl}}/scripts/app.js"></script>


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="sb-slidebar sb-right sb-width-thin">
            <ul id="sb-menu">
                <li><a href="{{baseUrl}}/">Startseite</a></li>
                <li><a href="{{baseUrl}}/forum" target="_blank">Forum</a></li>
            </ul>
        </div>

        <div id="wrap" class="sb-site-container">
            {{{body}}}
            {{> footer}}
        </div>
    </body>
</html>